/* src/styles/fonts.css */
@font-face {
  font-family: 'BTBeauSans';
  src: url('../assets/fonts/BT-BeauSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body, .font-BTBeauSan {
  font-family: 'BTBeauSans', sans-serif;
}
