.topNavbar {
  display: flex;
  justify-content: space-between;
  background: #13141F;
  color: #FFFFFF;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  width: 1920px;
  position: relative;
  gap: 24px;
  box-sizing: border-box;
  padding-left: 12px;
  padding-right: 12px;
  height: 44px;
  margin-top: -8px;
}

.logoContainer {
  display: flex;
  height: 100%;
  width: 53px;
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.logo {
  display: block;
  width: 100%;
  height: 100%;
}

.menuTabss {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  font-family: Lexend;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  height: 100%;
  margin-left: 24px;
}


.hi {
  display: flex;
  align-items: center;
  color: #99A1B7;
  font-family: Lexend;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  height: 100%;
  align-items: center;
  width: 135px;
}

.ten {
  background: #24253C;
  padding: 0px 12px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  font-family: Lexend;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  height: 32px;
  margin-left: -29px;
  width: 190px;
  gap: 10px;
  justify-content: space-between; 
}


.Flag {
  background: #24253C;
  border-radius: 9999px;
  display: flex;
  padding-right: 4px;
  align-items: center;
  gap: 4px;
  height: 24px;
  width: 68px;
  margin-left: -8px;
}

.Out {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: -12px;
}

.SignOut {
  height: 20px;
  width: 20px;
}

.Flags {
  height: 20px;
  width: auto;
  object-fit: contain;
  margin-right: 8px;
}

.navbarLeft {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: auto;
  height: 100%;
}

.accountInfo {
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-end;
  flex: 1;
}

.gradients {
background: linear-gradient(to top, rgba(97, 66, 254, 0), rgba(97, 66, 254, 1));
  color: #9580FF;
  white-space: nowrap; 
  height: 42px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  margin-left: -12px;
  margin-right: -12px;
  border-bottom: 2px solid rgba(97, 66, 254, 1);
}

.vn {
  font-family: Lexend;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}

.OptionIcon {
  height: 12px;
  width: 12px;
}


/*RESPONSIVE*/
@media (max-width: 1600px) {

  .topNavbar {
    width: 100%;
    align-items: flex-start;
    height: auto;
  }
  .navbarLeft,
  .accountInfo {
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
  }

  .menuTabss {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 8px 0;
    height: 100%;
    width: auto;
  }

  .hi, .ten, .Flag, .Out {
    display: none;
  }


  .logo {
    margin-top: 12px;
    object-fit: contain;
    margin-bottom: 8px;
  }
}

@media (max-width: 500px) {
  .topNavbar {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    height: auto;
  }

  .navbarLeft,
  .accountInfo {
    width: 10%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .menuTabss {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 8px 0;
    height: auto;
    margin-left: auto;
    width: auto;
  }

  .hi, .ten, .Flag {
    display: none;
  }

  .logo {
    margin-top: 12px;
    align-items: center;
    text-align: center;
  }

}